##########################
### OS RELATED IGNORES ###
##########################

###########################
### IDE RELATED IGNORES ###
###########################

##################################
### TECHNOLOGY RELATED IGNORES ###
##################################

### Node.js ###
node_modules

###############################
### PROJECT RELATED IGNORES ###
###############################

### Dist ###
server/dist

### Jest ###
server/test/coverage
